@font-face {
	font-family: "munchkinregular";
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/munchkin-webfont.woff2') format('woff2'),
			 url('../fonts/munchkin-webfont.woff') format('woff');
}

html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	font-family: 'Munchkin';
	font-size: 80px;
	line-height: 1.2;
	color: aliceblue;
}

/*header style start*/
.wrapper{
	max-width: 1400px;
	margin: 0 auto;
}

.header{
	position: fixed;
	width: 100%;
}



.header__menu{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.header__nav{
	max-width: 880px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  align-content:center;
}
.header_wrapper{
	text-align: center; /* Выравнивание по центру */ 
}
.header__item{
	justify-items:auto;
}

li{
	
	list-style-type: none;
}
ul {
	padding-left: 0; /* Сдвигаем список влево */
 }
a{
	text-decoration-line: none;
}

 .header__link{
	color: aliceblue;
	text-decoration-line:none;
}
.header__link:hover{
	opacity: .75;
}

.gallery-hide_item{
  display: none;
}
.show-text{
	color: aliceblue;
	text-decoration: none;
	
}
.show-text:hover{
	opacity: .75;
}


/*header style end*/
/*settings style start*/
.settings__list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
  height: 145px;
	border-bottom-width: 4px; /* Толщина линии внизу */
  border-bottom-style: solid; /* Стиль линии внизу */
  border-bottom-color: white; /* Цвет линии внизу */
	cursor: pointer;
}
/*settings style end*/
/*menu style start*/

.menu{
	height: 100vh;
	background: url(../img/bg-menu.jpg) no-repeat center;
	background-size: cover;
	padding-top: 310px;
}


.settings{
	position: fixed;
	top: 20px;
	right: 20px;
	margin-left: 10px;
}

.back_buttom{
	position: fixed;
	top: 20px;
	left: 20px;
	margin-right: 10px;
}
/* menu style end*/

/* start_game style start*/
.start{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}
.start_game__list {
  display: flex;
  justify-content: space-between;
}

.start_game__nav{
	max-width: 580px;
	max-height: 612px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  align-content:center;
	justify-content: space-between;
	
}
.start_game__pic{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}
/* start_game style end*/







/*start pack style*/

.pack-link{
	width:205px;
	 height:290px;
	 transition: transform 0.2s;
}

.pack__list {
  display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper__pack{
	max-width: 1200px;
	margin: 0 auto;
}
.pack__item{
	justify-items:auto;
}

.header__link:hover {
  transform: scale(1.1);
}

.pack__link{
	color: aliceblue;
	text-decoration-line:none;
}



.wrapper_pack{
	max-width: 1200px;
	margin: 0 auto;
}
.pack__nav{
	max-width: 580px;
	max-height: 612px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  align-content:center;
	justify-content: space-between;
}
.pack-link:hover {
  transform: scale(1.1);
}
.pack_deck{
	width: 400px;
	height: 380px;
	cursor: pointer;
	transition: transform 0.2s;
}


.pack_deck:hover {
  transform: scale(1.1);
}

/*end pack style*/



/*start deck review style*/
.area{
	height: 100vh;
	background: url(../img/bg-menu.jpg) no-repeat center;
	background-size: cover;
	padding-top: 0px;
}

.wrapper__cards{
	position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.doors-button, .treasure-button{
	
	background-color: transparent;
  border: none;

}

.doors-button{
	display: flex;
	position: absolute;
	left: 20px;
	top: -300px;
	transition: top .5s;
}

.treasure-button{
	display: flex;
  position: absolute;
  right: 20px;
  top: -450px;
	transition: top .5s;
}

.doors-button_show{
	top: -450px;
}

.treasure-button_show{
  top: -300px;
}

#doors-button:hover, #treasure-button:hover{
	transform: scale(1.1);
}
.wrapper__scroll_menu{
	position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
.scroll_menu-doors{
	display: flex;
	width: 1410px;
	height: 600px;
	overflow-y: scroll;
	padding-top: 10px;
	padding-left: 10px;
	position: fixed;
	bottom: 0;
	transition: top .5s;
}
.scroll_menu-treasure{
	display: none;
	width: 1410px;
	height: 600px;
	overflow-y: scroll;
	padding-top: 10px;
	padding-left: 10px;
	position: fixed;
	bottom: 0;
	transition: top .5s;
}


.scroll_menu-treasure_show{
	display: flex;
	width: 1410px;
	height: 600px;
	overflow-y: scroll;
	padding-top: 10px;
	padding-left: 10px;
	position: fixed;
	bottom: 0;
}
.scroll_menu-doors_show{
	display: none;
	width: 1410px;
	height: 600px;
	overflow-y: scroll;
	padding-top: 10px;
	padding-left: 10px;
	position: fixed;
	bottom: -1000px;
}


/*end deck review style*/



/*start gallery style*/

.gallery-pack{
  display: flex;
  margin: 20px;
}


.gallery-item, .gallery2-item{
  width: 119px;
  height: 188px;
  margin-right: 36px;
	margin-bottom: 36px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery-pack_item{
  width: 300px;
  height: 400px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

/*увеличение размера кнопки при наведении*/

.gallery-pack-item:hover {
  transform: scale(1.1);
}
.gallery-item:hover, .gallery2-item:hover, .gallery-pack_item:hover {
  transform: scale(1.1);
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 99998;
  display: none; /*скрываем модальное окно */
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
}


/* добавляем стили для кнопок */
#prev-button, #next-button {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute; /* позиционируем кнопки */
  top: 50%; /* выравниваем по вертикали */
  transform: translateY(-50%); /* сдвигаем на половину высоты */
	display: none;
}

#prev-button {
  left: 20px; /* располагаем кнопку "назад" слева */
}

#next-button {
  right: 20px; /* располагаем кнопку "вперед" справа */
}
/*end gallery style*/



/*start game_board style
.card {
  margin: 10px; 
  position: relative; 
}

.card-block {
  display: flex;
  flex-wrap: wrap;
  max-width:800px; 
	max-height: 200px;
	background-color: aqua;
	
}
.card-block1 {
  
  width:800px; 
	height: 220px;
	border-color: black;
	border-style:dashed;
	border-width: 3px;
}
.card-block2 {
  
  width:140px; 
	height: 210px;
	border-color: black;
	border-style:dashed;
	border-width: 1px;
}

.card-block .card + .card {
  margin-left: -5px;  
}

.card-block .card:last-child {
  margin-right: 0; 
}
end game_board style*/



.container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.cards {
  border: 1px solid black;
  height: 150px;
  width: 400px;
	display: flex;
	justify-content: center;
}
.zone1-cards {
  border: 1px solid black;
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: center;
	padding-right: 30px;
}
.zone2-cards {
  border: 1px solid black;
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: center;
	padding-right: 30px;

}
.zone3-cards {
  border: 1px solid black;
  height: 170px; /* задаем фиксированную высоту */
  width: 100px;
  display: flex;
  flex-direction: column; /* расположение карточек в колонку */
  justify-content: flex-start; /* размещение карточек внизу */
   /* размещение по центру*/
}
.zone4-cards {
  border: 1px solid black;
  height: 170px; /* задаем фиксированную высоту */
  width: 100px;
  display: flex;
  flex-direction: column; /* расположение карточек в колонку */
  justify-content: flex-start; /* размещение карточек внизу */
   
}

.zone5-cards {
  border: 1px solid black;
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: center;
	padding-right: 30px;
  transform: rotate(-90deg); /* поворот элементов на 90 градусов */
	padding-right: 30px;
} 

.card {
  
	width: 70px;
	height: 20px;
  
}

.zone1{
	display: flex;
	width: 1410px;
	height: 150px;
	position: fixed;
	bottom: 10px;
	margin-bottom: 0 auto;
	justify-content: center;
	z-index: 1;
	
}
.zone2 {
  display: flex;
  width: 1410px;
  height: 150px;
  position: fixed;
  bottom: 170px; /* расположение zone2 на 70px выше zone1 */
  margin: 0 auto;
  justify-content: center;
	z-index: 1;
	
}
.zone3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
 /* занимает оставшееся место в контейнере */
}

.zone4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}


.zone5 {
  display: flex;
  width: 150px; /* ширина 50% контейнера - разрыв 10px */
  height: 150px;
  position: fixed;
  bottom: 100px;
  margin-bottom: 0 auto;
  justify-content: center;
  z-index: 1;
  left: 50%;
  transform: translateX(200px); /* добавлено свойство переноса по оси X */
}

/* Располагаем зоны на половинах контейнера с отступом между ними в 30px */
.zone3, .zone4 {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
	padding-left: 45px;
}

.zone3 {
	width: 130px;
  left: 50%;
  margin-left: 15px;
}

.zone4 {
	width: 130px;
  right: 50%;
	margin-right: 15px;
}
.zone3-cards:before {
  content: "Сила игрока:";
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: -20px;
  left: 11;
}

.zone4-cards:before {
  content: "Сила монстра:";
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: -20px;
  left: 30px;
}
.zone3-cards::after {
  content: "бонусы игрока";
  position: absolute;
  top: 45px;
  right: -80px;
  transform: rotate(90deg);
  font-size: 17px; /* добавляем размер шрифта */
}

.zone4-cards::after {
  content: "монстр с бонусами";
  position: absolute;
  top: 65px;
  left: -50px; /* увеличиваем отступ слева */
  transform: rotate(-90deg);
  font-size: 17px; /* добавляем размер шрифта */
}

.card-item{
  width: 100px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.2s;
	position: relative;
	z-index: 1;
	
	
	
}

.card-item:hover {
  transform: scale(1.05);
	position: relative;
	z-index: 99999999;
}



.image-top-left, .image-bottom-left {
  position: absolute;
  left: 20px;
}

.image-top-left {
  top: 20px;
}

.image-bottom-left {
  bottom: 20px;
}

.image-top-right, .image-bottom-right {
  position: absolute;
  right: 20px;
}

.image-top-right {
  top: 20px;
}

.image-bottom-right {
  bottom: 20px;
}

.settings_in_game_board {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  margin-left: 10px;
}

.chat_in_game_board {
  position: fixed;
  top: 50%;
  right: 150px;
  transform: translateY(-50%);
  margin-left: 10px;
}
.history_in_game_board {
  position: fixed;
  top: 50%;
  left: 150px;
  transform: translateY(-50%);
  margin-right: 10px;
}

.top-left {
	position: absolute;
 top: calc(25vh - 10px);
 left: 10px;
}
.top-right {
	position: absolute;
 top: calc(25vh - 10px);
 right: 10px;
}
.bottom-left {
	position: absolute;
 bottom: calc(25vh - 10px);
 left: 10px;
}

.bottom-right {
 position: absolute;
	bottom: calc(25vh - 10px);
 right: 10px;
}
.bottom-center {
	position: absolute;
	bottom: 10px;
	left: calc(50% - 300px);
	transform: translateX(-50%);
 }
 .top-center {
	position: absolute;
  top: 60px;
	left: calc(50% + 100px);
  transform: translateX(-50%);
 }
 .image-bottom-center {
	position: absolute;
	bottom: 10px;
	left: calc(50% - 230px);
	transform: translateX(-50%);
 }
 .top-center-image {
	position: absolute;
  top: 10px;
	right: calc(50% - 100px);
  transform: translateX(-50%);
 }

 .zone_doors, .zone_treasure {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
	padding-left: 45px;
}

.zone_treasure {
	width: 130px;
  left: 50%;
  margin-left: 175px;
}

.zone_doors {
	width: 130px;
  right: 50%;
	margin-right: 175px;
}

.zone_doors_drop, .zone_treasure_drop {
  position: fixed;
  top: calc(50% - 65px);
  transform: translateY(-50%);
	padding-left: 45px;
}

.zone_treasure_drop {
	width: 130px;
  left: 50%;
  margin-left: 300px;
}

.zone_doors_drop {
	width: 130px;
  right: 50%;
	margin-right: 300px;
}